
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0; 
}


:root {
    --green-main: #256668;
    --green-dark: #195957;

    --gold: #ffbf5b;
    --brown: #c98319;

    --grey-main: #b3b3b3;
    --grey-font: #d3e1e2;
    --grey-font-dark: #424242;

    --shadow-light : rgba(239, 239, 239,.2);
    --shadow--dark: rgba(0,0,0,.3);

    --pri-token : "shayan";

  }


  html {
      font-size: 62.5%;
  }

  @media (min-width:760px) {
    html {font-size: 80%;}
  }

  body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    background-color: var(--green-main);
    color: var(--grey-font);
    line-height: 1.7;
    font-size: 1.3rem;
}
  
h1, h2, h3, h4, h5, h6,input, textarea {
  font-family: "Lato",sans-serif !important;
  font-size: 1.3rem;
}

p {
  margin-bottom: 0;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-font);
  opacity: 1; /* Firefox */
}

::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-font);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-font);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-font);
  opacity: 1; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--grey-font);
  opacity: 1; /* Firefox */
}

a {
  text-decoration: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn {
  outline: none;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 7px;
  -webkit-box-shadow: -3px -6px 6px -1px var(--shadow-light),
   5px 6px 6px -1px var(--shadow--dark)
  ;
          box-shadow: -3px -6px 6px -1px var(--shadow-light),
   5px 6px 6px -1px var(--shadow--dark)
  ;
  font-weight: 700;
  font-size: 1.9rem;
  letter-spacing: 5px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn-small {
  padding: .5rem;
}

.btn:hover {
 
  -webkit-box-shadow:  2px 2px 6px 3px var(--shadow-light),
                -4px -4px 6px 3px var(--shadow--dark)
  ;
 
          box-shadow:  2px 2px 6px 3px var(--shadow-light),
                -4px -4px 6px 3px var(--shadow--dark)
  ;
}

.btn-light {
  background-color: var(--gold);
  color: #fff;
}

.txt-center {
  text-align: center;
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  letter-spacing: .9px;
  color: var(--grey-main);
}

.container {
    width: min(96%, 1174px);
    margin: 0 auto;
}

.row {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pos-left {left:0;}
.pos-right {right:0;}

.col {
  width: clamp(210px, 100%, 340px);
  margin: auto;
}


@media (min-width:760px) {
  .row {display: -webkit-box;display: -ms-flexbox;display: flex;}

  .col + .col {
    margin-left: 5rem;
  }

  .col {
    max-width: 37%;
  }

  tr + tr {
    margin-left: 2rem;
  }
}

/* -------------------------------------- */

        /* Header */
/* -------------------------------------- */


/* Navigation */

.navigation {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  display: none;
}

@media (min-width:760px) {
  .navigation{display: block;}
}

.logo {
  vertical-align: middle;
  width: 100px;
}

.nav__list {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__list--primary {
  margin: 0 auto;
}
.nav__list--secondary {
  margin-bottom: 0;
}

.nav__item {
  margin-right: 2rem;
}
.nav__link {
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--gold);
  text-decoration: none;
}

.btn-lang {
  padding: .5rem;
  border-radius: 7px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

.mobile-nav__lang {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/* ------Mobile Navigation----------- */

.mobile-navigation {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
}

@media (min-width:760px) {
  .mobile-navigation{display: none;}
}


.mobile-nav__link {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}

.mobile-nav__item {
  list-style: none;
}


.hero {
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 30%;
  width: 100%;
}

@media (min-width:760px) {
  .hero {
    width:50%;
  }
}


.main-wrapper {
  padding: 0;
}


/* Tables */
.exchange__tables {
  position: relative;;
}


.exchange__table,
.balance-table {
  border-radius: 20px;
  outline: none;
  background: none;
  padding: 2rem 2rem;
  -webkit-box-shadow: -7px -7px 20px 3px var(--shadow-light),
               7px 7px 22px 3px var(--shadow--dark);
          box-shadow: -7px -7px 20px 3px var(--shadow-light),
               7px 7px 22px 3px var(--shadow--dark);
  margin-bottom: 5rem;
}

.balance {
  width: 100%;
  margin: 0 auto;
}

@media (min-width:760px) {
  .balance {
    width: 55%;
  }
}


.balance-table__result {
  border: none;
  outline: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 700;
  padding: .6rem;
  margin-bottom: 3rem;
  text-align: center;
  margin-top: .2rem;
  border-radius: 7px;
  -webkit-box-shadow: inset 2px 2px 5px 3px var(--shadow--dark),
              inset  -5px -5px 5px 2px var(--shadow-light)
  ;
          box-shadow: inset 2px 2px 5px 3px var(--shadow--dark),
              inset  -5px -5px 5px 2px var(--shadow-light)
  ;
  width: 100%;
  position: relative;
}
.balance-table label {
  padding-left: 0px;
  overflow-wrap: anywhere;
}

@media (min-width:760px) {
  .balance-table label {
    padding-left: 165px;
  }
  .balance-table__result {
    padding: .6rem;
    margin-bottom: 1rem;
    text-align: left;
  }
}

.balance-table__label {
  outline: none;
  border-radius: 5px;
  padding: .1rem;
  position: absolute;
  top: -20px;
  font-weight: 700;
}

@media (min-width:760px) {
  .balance-table__label {
    padding: .8rem;
    top: 0px;
  }
}

.exchange__header {
  padding:2rem 0;
}



.exchange__form--field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  position: relative;
}

.exchange__form--label {
  outline: none;
  border-radius: 5px;
  padding: 1rem 1rem;
  position: absolute;
  top: 0;
  font-weight: 700;
}

.label-gold,
.btn-buy {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fff), color-stop(60%, var(--gold)));
  background-image: -o-linear-gradient(left top, #fff, var(--gold) 60%);
  background-image: linear-gradient(to right bottom, #fff, var(--gold) 60%);
  color: var(--brown);
}


.label-grey,
.btn-sell,
.sell-field::after,
.sell-field::before {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#fff), color-stop(60%, var(--grey-main))) !important;
  background-image: -o-linear-gradient(left top, #fff, var(--grey-main) 60%) !important;
  background-image: linear-gradient(to right bottom, #fff, var(--grey-main) 60%) !important;
  color: var(--grey-font-dark) !important;
}

.exchange__form--input,
.exchange__form--text {
  width: 100%;
  padding: 1rem 100px;
  border-radius: 7px;
  outline: none;
  border: none;
  background: none;
  -webkit-box-shadow:  2px 2px 5px 3px var(--shadow-light),
                -2px -2px 5px 3px var(--shadow--dark);
          box-shadow:  2px 2px 5px 3px var(--shadow-light),
                -2px -2px 5px 3px var(--shadow--dark);

  color: var(--grey-font);
  margin-right: auto;
  margin-left: auto;
}

.exchange__form--input {text-align: center;}

.exchange__form--text{-webkit-filter: opacity(.5);filter: opacity(.5);}

.exchange__filter {
  margin-bottom: 5rem;
}

#token-table {
  margin: 0 auto;
}

.exchange__form--result {
  border: none;
  outline: none;
  background: none;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
  border-radius: 7px;
  -webkit-box-shadow: inset 2px 2px 5px 3px var(--shadow--dark),
              inset  -5px -5px 5px 2px var(--shadow-light)
  ;
          box-shadow: inset 2px 2px 5px 3px var(--shadow--dark),
              inset  -5px -5px 5px 2px var(--shadow-light)
  ;
}

#token,
.token-selected {
  cursor: pointer;
  display: inline-block;
  border-radius: 7px;
  outline: none;
  border: none;
  padding: .5rem;
}

#token {

  -webkit-box-shadow: 2px 2px 5px 2px var(--shadow--dark),
  -2px -2px 5px 2px var(--shadow-light);

          box-shadow: 2px 2px 5px 2px var(--shadow--dark),
  -2px -2px 5px 2px var(--shadow-light);
}
.token-selected {
  background: var(--grey-main);
  color: var(--grey-font-dark);
  font-weight: 700;
  -webkit-box-shadow: inset 5px 5px 5px 2px var(--shadow--dark),
              inset -2px -2px 5px 2px var(--shadow-light) !important;
          box-shadow: inset 5px 5px 5px 2px var(--shadow--dark),
              inset -2px -2px 5px 2px var(--shadow-light) !important;
}
/* -------------------------------- */

canvas{
  display:block;
  vertical-align: bottom;
}




.js-count-particles{
  font-size: 1.6em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 70vh;
  background-color: var(--green-main);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}




/* -----------Footer-------------------- */
.footer__top {
  background-color: #333;
  padding: 4rem 0;
}

.footer .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__bottom {
  padding: 2rem 0;
  background-color: #111;
}


/* Modal Box Styles */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--grey-main);
  margin: auto;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 7px;
  width: 30%;
  min-height: 20rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: var(--grey-font-dark);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--green-dark);
  color: white;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.modal-body {
  padding: 2px 16px;
  color: var(--grey-font-dark);
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
}
