*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; 
}


:root {
    --green-main: #256668;
    --green-dark: #195957;

    --gold: #ffbf5b;
    --brown: #c98319;

    --grey-main: #b3b3b3;
    --grey-font: #d3e1e2;
    --grey-font-dark: #424242;

    --shadow-light : rgba(239, 239, 239,.2);
    --shadow--dark: rgba(0,0,0,.3);

    --pri-token : "shayan";

  }


  html {
      font-size: 62.5%;
  }

  @media (min-width:760px) {
    html {font-size: 80%;}
  }

  body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    background-color: var(--green-main);
    color: var(--grey-font);
    line-height: 1.7;
    font-size: 1rem;
}
  
h1, h2, h3, h4, h5, h6,input, textarea {
  font-family: "Lato",sans-serif !important;
  font-size: 1rem;
}


h1 {
    font-weight: bold;
}

  img {
    max-width: 100%;
  }


.btn {
  outline: none;
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 7px;
  box-shadow: -3px -6px 6px -1px var(--shadow-light),
   5px 6px 6px -1px var(--shadow--dark)
  ;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 5px;
  display: inline-block;
  cursor: pointer;
  margin-top: 2rem;
  transition: all .3s;
}


.btn:hover {
 
  box-shadow:  2px 2px 6px 3px var(--shadow-light),
                -4px -4px 6px 3px var(--shadow--dark)
  ;
  margin-top: 2rem;
}


.txt-center {
  text-align: center;
}

.subtitle {
  font-size: .9rem;
  margin-top: 1rem;
  letter-spacing: .9px;
  color: var(--grey-main);
}

.container {
    width: min(80%, 1400px);
    margin: 0 auto;
}

.row {
  display: block;
  justify-content: center;
}

.pos-left {left:0;}
.pos-right {right:0;}

.col {
  width: clamp(210px, 100%, 348px);
  margin-bottom: 8rem;
  margin: auto;
}


@media (min-width:760px) {
  .row {display: flex;}

  .col + .col {
    margin-left: 5rem;
  }
}


.main-wrapper {
  padding: 100px 0;
}


/* Tables */
.exchange__tables {
  position: relative;;
}

.exchange__table {
  border-radius: 20px;
  outline: none;
  background: none;
  padding: 2rem 2rem;
  box-shadow: -7px -7px 20px 3px var(--shadow-light),
               7px 7px 22px 3px var(--shadow--dark);
}

.exchange__header {
  padding:2rem 0;
}

.exchange__form--label {
  outline: none;
  border-radius: 5px;
}


.exchange__form--field {
  display: flex;
  margin-bottom: 3rem;
  position: relative;
}

.exchange__form--label {
  padding: .8rem 1rem;
  position: absolute;
  top: 0;
}

.label-gold,
.btn-buy {
  background-image: linear-gradient(to right bottom, #fff, var(--gold) 60%);
  color: var(--brown);
}


.label-grey,
.btn-sell,
.sell-field::after,
.sell-field::before {
  background-image: linear-gradient(to right bottom, #fff, var(--grey-main) 60%) !important;
  color: var(--grey-font-dark) !important;
}

.exchange__form--input {
  width: 100%;
  padding: 1rem 77px;
  border-radius: 7px;
  outline: none;
  border: none;
  background: none;
  box-shadow:  2px 2px 5px 3px var(--shadow-light),
                -2px -2px 5px 3px var(--shadow--dark);

  color: var(--grey-font);
  margin-right: auto;
  margin-left: auto;
}

/* .exchange__form--field:first-child::before,
.exchange__form--field::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem .5rem 1rem .5rem;
  font-size: 1rem;
  outline: none;
  border-radius: 7px;
} */

/* .exchange__form--field:first-child::after, */
/* .exchange__form--field::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem .5rem 1rem .5rem;
  font-size: 1rem;
  outline: none;
  border-radius: 7px;
}

.exchange__form--field:first-child::before {
  content: "Price";
  left: 0;
  color: var(--brown);
  background-image: linear-gradient(to right bottom, #fff, var(--gold) 60%);
}

.exchange__form--field::before {
  content: "Amount";
  left: 0;
  color: var(--brown);
  background-image: linear-gradient(to right bottom, #fff, var(--gold) 60%);
} */

/* .exchange__form--field:first-child::after {
  content: "USDT";
  right: 0;
  color: var(--brown);
  background-image: linear-gradient(to right bottom, #fff, var(--gold) 60%);
} */

/* .exchange__form--field::after {
  content: var(--pri-token);
  right:0 ;
  color: var(--brown);
  background-image: linear-gradient(to right bottom, #fff, var(--gold) 60%);
} */


.exchange__form--result {
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding: 1rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
  border-radius: 7px;
  box-shadow: inset 5px 5px 5px 2px var(--shadow--dark),
              inset  -5px -5px 5px 2px var(--shadow-light)
  ;
}

#token,
.token-selected {
  cursor: pointer;
  display: inline-block;
  border-radius: 7px;
  outline: none;
  border: none;
  padding: .5rem;
}

#token {

  box-shadow: 2px 2px 5px 2px var(--shadow--dark),
  -2px -2px 5px 2px var(--shadow-light);
}
.token-selected {
  background: var(--grey-main);
  color: var(--grey-font-dark);
  font-weight: 700;
  box-shadow: inset 5px 5px 5px 2px var(--shadow--dark),
              inset -2px -2px 5px 2px var(--shadow-light) !important;
}
/* -------------------------------- */

canvas{
  display:block;
  vertical-align: bottom;
}




.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 70vh;
  background-color: var(--green-main);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}




header {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,50%);
}

h1 {
  font-size: 5rem;
  color: #fff;
}